{% extends "base.html" %}

{% block content %}
<h1>Contact</h1>

<div class="flex flex-wrap">
    <div class="w-33 pa3">
    <h2>{{ contact.name }}</h2>
  
    <div class="flex">
        <div class="pr2"><i class="icofont-location-pin"></i></div>
        <div>
        {{ contact.address_1 }}<br />
        {% if contact.address_2 %}
            {{ contact.address_2 }}<br />
        {% endif %}
        {{ contact.city }}, {{ contact.state }} {{ contact.zip_code }}
        </div>
    </div>
  
    {% if contact.phone_number %}
    <div class="flex">
        <div class="pr2"><i class="icofont-phone"></i></div>
        <div>{{ contact.phone_number }}</div>
    </div>
    {% endif %}
  
    {% if contact.email %}
    <div class="flex">
        <div class="pr2"><i class="icofont-ui-email"></i></div>
        <div>{{ contact.email }}</div>
    </div>
    {% endif %}
  
    {% if contact.birthday %}
    <div class="flex">
        <div class="pr2"><i class="icofont-ui-calendar"></i></div>
        <div>{{ contact.birthday }}</div>
    </div>
    {% endif %}

    <h2>Notes</h2>
{% for note in notes %}
<div>
<p>{{ note.contact }}</p>
<p>{{ note.title }}</p>
<p>{{ note.text }}</p>
<p>{{ note.created }}</p>
<a href="{% url 'view_note' pk=contact.pk %}">Edit Note</a>
</div>
{% endfor %}

    
</div>
{% endblock %}
</div>